@import url("style_index.css");

#main{
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

p {
padding-top: 100px;
margin-left: 20px;
}

table {
    margin-top: 100px;
    width: 80%;
    border-collapse: collapse;
    
    
}
table th {
    text-align:left;
    padding:20px 10px;
    background-color: var(--clr-nav);
    color: white;
}
table td {
    text-align:left;
    padding:20px 10px;
    background: #ffffff;
    color: #313030;
    transform: translateY(10px);
    border-bottom: solid black 10px;
}
.fa-minus, .fa-plus{
    padding: 0 5px;
    color: black;
}

.fa-xmark{
    font-size: 1.5rem;
    color: rgb(201, 21, 21);
    padding: 0 20px;
}



