@import url("style_index.css");

#main{
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

p {
padding-top: 100px;
margin-left: 20px;
}



table {
    margin-top: 100px;
    width: 80%;
    border-collapse: collapse;
    
    
}
table th {
    text-align:left;
    padding:20px 10px;
    background-color: var(--clr-nav);
    color: white;
}
table td {
    text-align:left;
    padding:20px 10px;
    background: #ffffff;
    color: #313030;
    transform: translateY(10px);
    border-bottom: solid black 10px;
}

table td:nth-child(9){
    text-align: center;
}
.fa-minus, .fa-plus{
    padding: 0 5px;
    color: black;
}

.fa-xmark{
    font-size: 1.5rem;
    color: rgb(201, 21, 21);
    padding: 0 20px;
}

.bouton1{
    display: block;
    text-align: center;
    padding: 5px;
    width: 200px;
    height: 30px;
    background-color: rgb(190, 46, 46);
    color: white;
    border-radius: 20px;
    transition: .4s;
}
.bouton2{
    position: relative;
    display: block;
    text-align: center;
    padding: 5px;
    width: 150px;
    height: 30px;
    background-color: rgb(46, 190, 130);
    color: white;
    border-radius: 20px;
    transition: .4s;
    border: none;
    overflow: hidden;
}

.bouton2 p{
    color:black;
    text-align: left;
    /* display: none; */
    position: absolute;
    font-size: 1rem;
    padding: 30px;
    top: 0px;       
}

.bouton2:hover{
    cursor: pointer;
}

.bouton2active{
    color: transparent;
    background-color: #f1f1f1;
    width: 300px;
    height: 100px;
}
.bouton2activeP{
display: block;
}

.bouton1:hover{
    background-color: rgb(161, 15, 15);
}



